<footer class="text-center bg-gray-100 py-10 text-gray-500 flex justify-center space-x-4">
  <p>© 2022 cuvar</p> 
  <p>|</p> 
  <p>built with <a class="hover:text-gray-900 underline" href="https://lume.land/">lume</a></p>
</footer>